@layer base {
	:root {
		/* Colors */
		
		/* Primary (Indigo) */
		--color-primary-50: 238 242 255;
		--color-primary-100: 224 231 255;
		--color-primary-200: 199 210 254;
		--color-primary-300: 165 180 252;
		--color-primary-400: 129 140 248;
		--color-primary-500: 99 102 241;
		--color-primary-600: 79 70 229;
		--color-primary-700: 67 56 202;
		--color-primary-800: 55 48 163;
		--color-primary-900: 49 46 129;
		--color-primary-950: 30 27 75;

		/* Secondary (Gray) */
		--color-secondary-50: 249 250 251;
		--color-secondary-100: 243 244 246;
		--color-secondary-200: 229 231 235;
		--color-secondary-300: 209 213 219;
		--color-secondary-400: 156 163 175;
		--color-secondary-500: 107 114 128;
		--color-secondary-600: 75 85 99;
		--color-secondary-700: 55 65 81;
		--color-secondary-800: 31 41 55;
		--color-secondary-900: 17 24 39;
		--color-secondary-950: 3 7 18;

		/* Accent (Emerald) */
		--color-accent-50: 236 253 245;
		--color-accent-100: 209 250 229;
		--color-accent-200: 167 243 208;
		--color-accent-300: 110 231 183;
		--color-accent-400: 52 211 153;
		--color-accent-500: 16 185 129;
		--color-accent-600: 5 150 105;
		--color-accent-700: 4 120 87;
		--color-accent-800: 6 95 70;
		--color-accent-900: 6 78 59;
		--color-accent-950: 2 44 34;

		--color-background: 255 255 255; /* White */
		--color-surface: 249 250 251; /* Gray 50 */
		
		--color-text-primary: 17 24 39; /* Gray 900 */
		--color-text-secondary: 75 85 99; /* Gray 600 */
		--color-text-light: 255 255 255; /* White */

		/* Typography */
		--font-heading: 'Ubuntu', sans-serif;
		--font-body: 'Ubuntu', sans-serif;
	}
}
